# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* List popular languages for Data Science
* List commonly used libraries for Data Science
* Table of Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

|Data Science Tools|
|------------------|
|Apache Spark|
|SQL|
|Power BI|
|TensorFlow Serving

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60
def hourtomin(hour):
    min = hour/60
    return min
print(hourtomin(200))

3.3333333333333335

## Author
Leop SR